body {
    min-width: 375px;
}

@import "~bootstrap/scss/bootstrap";

footer {
    .col {
        li {
            a {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.modal {
    .modal-body {
        .container {
            .col {
                .card {
                    .card-img {
                        min-height: 225px;
                    }
                }
            }
        }
    }
}